#outerDiv{

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
}

#game{
  width: 400px;
  height: 85px;
  position: relative;
  margin: auto;
  //-webkit-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%);
  transition: all 200ms ease !important;
  transform-origin: 51% 50%;
}

#see-saw{
  width: 400px;
  height: 20px;
  margin-bottom: -20px;
  background-color: gray;
  //transform-origin: 51% 100%;
  transition: all 200ms ease !important;
}

#box {
  width: 20px;
  height: 20px;
  background-color: darkblue;
  position: absolute;
}

.circle{
  border: 2px solid #111111;
  padding: 10px 40px;
  background: #dddddd;
  width: 1px;
  height: 85px;
  border-radius: 100px;
  transform: scale(0.5, 0.5);
  margin: 0 auto;
}

#basket{
  position: fixed;
  bottom: 0;

  img{
    width: 100px;
    height: auto;
    position: relative;
    z-index: 2;
  }

  div{
    //float: left;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
  }
}

.left-top{
left: 0;
top: 0;
}
.right-top {
  right: 0;
  top: 0;
}
.right-bottom {
  right: 0;
  bottom: 0;
}
.left-bottom{
  left: 0;
  bottom: 0;
}