<app-nav-bar></app-nav-bar>

<div id="outerDiv" [hidden]="isGameHidden()">
    <div id="game" [style.transform]="getGameRotationStyle()">
        <div id="see-saw" [style.transform]="getSeeSawRotationalStyle()">

        </div>
        <div class="circle"></div>
        <div id="box" [style.top] ="getBoxTop()" [style.left]="getBoxLeft()" [hidden]="isGameHidden()" >
            <div class="left-top" rel="yellow"></div>
            <div class="right-top" rel="red"></div>
            <div class="right-bottom" rel="blue"></div>
            <div class="left-bottom" rel="lime"></div>
        </div>
    </div>

    <!--<div id="basket">-->
    <div id="basket" [style.left]="getBasketLocation()">
        <img src="../../../assets/basket.png">
        <div id="sensor-area"></div>
    </div>
</div>

<!--<app-win-screen [hidden]="!hasWon()"></app-win-screen>-->
<app-lose-screen [hidden]="!hasLost()"></app-lose-screen>
<p [hidden]="!hasWon()">Level {{level}}</p>