<div class="container">
    <div class="row vertical-offset-100">
        <form #regiserForm="ngForm" class="registerForm">

            <div class="form-group image-div">
                <img src="../../../assets/logo.png">
            </div>

            <div>

                <div class="form-group email-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" name="username" id="username" required minlength="5" maxlength="8" [(ngModel)]="user.username" #username="ngModel">
                    <small [hidden]="username.valid || (username.pristine && !regiserForm.submitted)"> Username is required (minimum of 5 characters, maximum of 8).</small>
                </div>

                <div class="form-group email-group">
                    <label for="email">Email Address:</label>
                    <input class="form-control" type="text" name="email" id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngModel]="user.email"  #email="ngModel" required>
                    <small [hidden]="email.valid || (email.pristine && !regiserForm.submitted)">Email is required and format should be <i>example@example.example</i>.</small>
                </div>

                <div  ngControlGroup="passwordsGroup">
                <div class="form-group password-group">
                    <label for="password">Password:</label>
                    <input class="form-control" id="password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" validateEqual="confirmPassword" reverse="true" required>
                    <!--<input class="form-control" name="password" type="password" id="password" validateEqual="registerForm.verify-password" reverse="true" [(ngModel)]="user.password" required>-->
                </div>

                <div class="form-group password-group">
                    <label for="confirmPassword">Verify Password:</label>
                    <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" validateEqual="password" #confirmPassword="ngModel" required>
                </div>

                </div>
                <div class="form-group register-btns">
                    <button class="form-control" [disabled]="!regiserForm.valid" type="submit" (click)="manualRegister(regiserForm)">Register</button>

                    <div class="btn-group form-inline">
                        <button type="button" class="btn btn-danger" formnovalidate (click)="googleRegister()">Register With Google</button>
                        <button type="button" class="btn btn-primary" formnovalidate (click)="facebookRegister()">Register With Facebook</button>
                    </div>


                </div>
                <div class="form-group">
                    <a routerLink="/login">Return to login</a>
                </div>

            </div>
        </form>
    </div>

</div>